@charset "UTF-8";
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background: white;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 320px;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #18b767;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container input,
.auth-container textarea,
.auth-container select {
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.auth-container button {
  background-color: #18b767;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.auth-container button:hover {
  background-color: #149a5a;
}

.auth-container p {
  text-align: center;
  font-size: 13px;
}

.auth-container a {
  color: #18b767;
  text-decoration: none;
}